/* Home.css */
.home-background {
    background-image: url('./../../assets/Home2.png');
    background-size: cover;
    background-position: bottom;
    height: 100dvh;
    /* max-width: calc(97.7vw); */
    /* padding-left: 0.5dvw; */
    width: 99.1%;
    /* margin-left: 50px; */
}

.home,
.home-footer {
    position: relative;
    z-index: 1;
}

.home-title h2 {
    font-family: "Limelight", sans-serif;
}

.home-title p {
    color: #895F4F;
    font-family: "Bangers", sans-serif;
    letter-spacing: 3px;
}

.footer-content h2 {
    font-family: 'Caveat', sans-serif;
}

.footer-content .icons a {
    color: #264653;
}

/* .home-footer {
    background-color: #fffaef;
} */